<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig
  xmlns="http://ibatis.apache.org/dataMapper"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!--
  <properties resource="db/database.properties"/>
  -->

  <settings>
    <setting useStatementNamespaces="false"/>
  </settings>

  <providers resource="providers.config"/>


  <database>
    <provider name="sqlServer4.0"/>
    <!--
    <dataSource name="${ds}" connectionString="server=${host};database=${database};user id=${username};password=${password};"/>
    -->
    <dataSource name="SMHE" connectionString="server=localhost;database=SMHE_CDS;user id=sa;password=11042.;"/>
  </database>


  <sqlMaps>
    <sqlMap resource="db/common.xml"/>
    <sqlMap resource="db/table1.xml"/>
    <sqlMap resource="db/table2.xml"/>
    <sqlMap resource="db/table3.xml"/>
  </sqlMaps>

</sqlMapConfig>
